<h1 class="text-center"> 6 Cantidad de IPs v4 y v6 de NS por dominio</h1>
<div class="col-lg-6 col-md-6 col-sm-12">
  <div id="chart-6"></div>
</div>

<div class="col-lg-6 col-md-6 col-sm-12">
  <p>
    La implementación de la nueva versión de IP, IPv6, agrega una nueva capa de resiliencia si es utilizado,
    ya que al trabajar sobre otro protocolo existe un nuevo camino para llegar a un mismo punto en caso de que alguno de los protocolos falle.
    La recomendación en este caso indica que cada dominio debe tener al menos un servidor con dirección IPv4
    y al menos uno con dirección IPv6 para considerarse resiliente.
  </p>
</div>

<script>
  getDataChart6IPv4v6vsDom()
</script>
