<h1 class="text-center"> 5 Cantidad de IPs de NS por dominio</h1>


<div class="col-lg-6 col-md-6 col-sm-12">

  <p>
    Un servidor de nombres puede tener asociadas varias direcciones IP, lo que mejora la resiliencia,
    ya que si no es posible acceder por una de las direcciones, se puede utilizar otra.
    En el eje X se puede apreciar la cantidad de distintas direcciones IP de servidores de nombre que tiene asociado un dominio.
    En el eje Y se ve la cantidad de dominios que cumplen dicha condición.
  </p>
</div>

<div class="col-lg-6 col-md-6 col-sm-12">
  <div id="chart-5"></div>
</div>

<script>
  getDataChart5IPsvsDom()
</script>
