<h1 class="text-center"> 3 Cantidad de paises por dominio</h1>
<div class="col-lg-6 col-md-6 col-sm-12">
  <div id="chart-4"></div>
</div>

<div class="col-lg-6 col-md-6 col-sm-12">

  <p>
    Existen muchos eventos externos al DNS, que podrían debilitar el sistema al desconectar algún punto, como lo son los terremotos en Chile, por ejemplo.
    Como recomendación, para ofrecer mayor resiliencia al sistema DNS, se recomienda tener sus servidores de nombre en al menos 2 países.
    A pesar de esto, la mayoría se encuentra en un sólo país, lo que se mantiene a lo largo del periodo de estudio.
  </p>
</div>

<script>
  getDataChart4PaisesvsDom()
</script>
