<h1 class="text-center"> 1 Cantidad de NS por dominio</h1>
<div class="col-lg-6 col-md-6 col-sm-12">
  <div id="chart-2"></div>
</div>

<div class="col-lg-6 col-md-6 col-sm-12">

  <p>
    En los inicios de DNS, la recomendación de cantidad de servidores de nombre que debía tener un dominio, era de 2.
    En el año 1997, con el RFC 2182, se actualizó esta recomendación, indicando que cada dominio debe tener un mínimo de 3 servidores de nombres asociados.
    En este gráfico se aprecia en el eje X la cantidad de servidores de nombre que tienen los dominios.
    En el eje Y, se ve la cantidad de dominios que cumplen con lo indicado en el eje X.
  </p>
</div>

<script>
  getDataChart2NSvsDom()
</script>
