<h1 class="text-center">8 Nivel de Implementación de DNSSEC</h1>
<div class="col">
  <table id="table-8" class="table card-table table-vcenter table-hover"></table>
</div>
<div class="col">
  <p>
    Las extensiones DNSSEC corresponden a extensiones de seguridad diseñadas para que el sistema DNS tenga un mejor funcionamiento
    con respecto a la autenticidad de los datos, evita que los usuarios sean víctimas de estafas y otros problemas generados mediante
    el envenenamiento del caché o el Fallo Kaminsky.

    Lamentablemente, observando los resultados obtenidos, no hay una gran conciencia con respecto a ésto.
    A pesar de su importancia, menos de un 1% de los dominios tienen una implementación de DNSSEC,
    de los cuales muchos menos cumplen correctamente con su funcionamiento.
    Sin embargo, se ha visto un crecimiento en su implementación
  </p>
</div>
<script>
  getDataTable8DNSSEC()
</script>
