<h1 class="text-center">7 Cantidad de servidores de nombre con diferentes versiones de IP</h1>

<div class="col-lg-6 col-md-6 col-sm-12">
  <p>
    Siguiendo en la misma línea de la resiliencia que otorga el hecho de tener implementados los protocolos de IP en sus dos versiones,
    se puede apreciar que la mayoría de los servidores tiene sólo direcciones en IPv4.

    Mirando los datos en detalle se puede observar que no existe ningún dominio que tenga sus servidores sólo con IPv6,
    lo que se debe probablemente a que IPv6 apareció después de IPv4.
    **Por  otro lado, se puede notar que la implemetación de IPv6 ha ido creciendo, quedandose relativamente estancada desde septiembre del 2018.

    Además, como hallazgo interesante, se puede ver que existe una pequeña cantidad de dominios que no presenta ninguna dirección IP de sus servidores de nombre, por lo que son dominios inalcanzables.
  </p>
</div>

<div class="col-lg-6 col-md-6 col-sm-12">
  <table id="table-7" class="table card-table table-vcenter table-hover"></table>
</div>

<script>
  getDataTable7NSips()
</script>
