<h1 class="text-center">10 Cumplimiento de recomendaciones en Nameservers</h1>
<div class="col">
  <table id="table-10" class="table card-table table-vcenter table-hover"></table>
</div>
<div class="col">
  <p>
    Los servidores de nombre son una de las partes más importantes dentro del sistema DNS,
    por eso es importante que ellos sigan y cumplan las recomendaciones para un correcto funcionamiento.

    Como se puede apreciar, el índice de falla es muy bajo, lo que es bueno para los usuarios del Internet,
    notando que más del 95% de los servidores cumplen con todas las recomendaciones.

    A pesar de que el porcentaje que si cumple es muy alto,
    cabe destacar que la cantidad de servidores analizados es muy alta,
    por lo que aún hay muchos servidores no cumplen la recomendación de permitir comunicación TCP,
    lo que con la inserción de DNSSEC es muy necesario debido al gran tamaño de los paquetes utilizados.
  </p>
</div>
<script>
  getDataTable10RecomendacionesNS()
</script>
